nav{
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 5%;    
    background-color:#102433;
    justify-content: space-between;
    box-shadow: rgba(41, 41, 61, 0.2) 0px 7px 29px 0px;
    a{
        all:unset;
        cursor:pointer;
    }

    .left{
        display: flex;
        align-items: center;
    }
    .right{
        display: flex;
        align-items: center;
        
        .username{
            background-color: #D2C1B6;
            color: #1B3C53;
            padding: 3px 7px;
            border-radius: 5px;
            font-weight: bold;
        }

        *{
            margin: 5px 5px;
        }
        button{
            all:unset;
        }
    }
}